html, body {
    height: 100%;
}

body {
    background-color: #f4f4f4;
    font: 14px/1 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #ff6d7e;
    text-decoration: none;
}

a:hover {
    color: #f5bcc4;
  }

  li {
      color: #ff6d7e;
  }

  .image-block,
  .text-block {
    display: inline-block;
    vertical-align: top;
  }
  
  .image-block {
    margin-right: 1em;
    margin-top: 30px;
  }
  
  .image-block img {
    width: 150px;
  }
  
  .text-block {
    color: #f4f4f4;
  }
  
  #site-wrapper {
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #card {
    background-color: #2b2f2f;
    padding: 2em;
    width: 510px;
    max-width: 100%;
    margin: 2em auto;
    border-radius: .8em;
    -webkit-box-shadow: 6px 12px 38px -5px rgba(0,0,0,0.26);
    -moz-box-shadow: 6px 12px 38px -5px rgba(0,0,0,0.26);
    box-shadow: 6px 12px 38px -5px rgba(0,0,0,0.26);
  }
  
  .header {
    font-size: .8rem;
  }
  
  .no-style {
    list-style: none;
    padding-left: 0;
  }
  
  .no-style li {
    display: inline-block;
  }

